<h3>Account Created!</h3>
<p>
    Hello {{ name }}!
</p><p>Welcome to the KAMP Online Portal.
</p><p>
    An  administrator account has been created for you on the KAMP Online Portal. To activate your account, click on the link below.
</p><p>
    <a href="http://id.crysoftlabs.com/account/admin/{{ code }}/activate">Click Here</a>.
</p><p>
    Thank you!
</p><p>

    --KAMP Team
</p><p>
    {# Makes an absolute URL to the loko/images/PRISK_Logo_v_2.2_website.png file #}
    <img src="{{ absolute_url(asset('loko/images/PRISK_Logo_v_2.2_website.png')) }}">
<hr/>
Note: This is a system generated mail. Please do NOT reply to it.
</p>