<h3>Profile Status: Approved by the KAMP Board</h3>
<p>
    Congratulations {{ name }}!
</p><p>. Your profile has been successfully reviewed and approved by the KAMP Board of Directors</p>
<p> An account will be created for you on the KAMP online Portal and we will send you an email with login instructions.
</p>
<p>
    Thank you!
</p><p>

    --KAMP Team
</p><p>
    {# Makes an absolute URL to the loko/images/PRISK_Logo_v_2.2_website.png file #}
    <img src="{{ absolute_url(asset('loko/images/PRISK_Logo_v_2.2_website.png')) }}">
<hr/>
Note: This is a system generated mail. Please do NOT reply to it.
</p>

