<h3>Required Membership Documents</h3>
<p>
    Dear {{ name }}!
</p>
<p>
    You recently successfully submitted your KAMP Membership Application. However, before we review your application you have to submit the required documents listed below:
</p>
<p>1. Kenya Revenue Authority ITAX Updated Pin Certificate.</p>
<p>2. Certificate of Registration or Incorporation </p>
<p>3. Passport-Size Photo Of Director 1 </p>
<p>4. Valid National Identity Card or Passport of Director 1.</p>
{% if corporate %}
    <p>5. Passport-Size Photo Of Director 2 </p>
    <p>6. Valid National Identity Card or Passport of Director 2.</p>

{% endif %}
<p>When you are ready, use the link below to upload the documents.</p>
<p>
    <a href="http://id.crysoftlabs.com/corporate/{{ code }}/add-documents">Click Here</a>.
</p>
<p>To upload your Recording Samples, use the link below</p>
<p>
    <a href="http://id.crysoftlabs.com/corporate/{{ code }}/add-samples">Click Here</a>.
</p>

<p>
    Thank you!
</p><p>

    --KAMP Team
</p><p>
    {# Makes an absolute URL to the loko/images/PRISK_Logo_v_2.2_website.png file #}
    <img src="{{ absolute_url(asset('loko/images/PRISK_Logo_v_2.2_website.png')) }}">
<hr/>
Note: This is a system generated mail. Please do NOT reply to it.
</p>