<h3>First Step Complete!</h3>
<p>
Dear {{ name }}!
</p><p>Congratulations.
</p><p>
You have successfully completed the first step of the registration process. To proceed to the next step, click on the link below.
</p><p>
{# example, assuming you have a route named "login" #}
To login, go to: <a href="{{ path('profile-login') }}">Click Here</a>.
</p><p>
Thank you!
</p><p>
--KAMP Team
</p><p>
{# Makes an absolute URL to the loko/images/PRISK_Logo_v_2.2_website.png file #}
<img src="{{ absolute_url(asset('loko/images/PRISK_Logo_v_2.2_website.png')) }}">
</p>