<h3>Profile Status: Approved by Membership</h3>
<p>
    Dear {{ name }}!
</p><p>Your profile has been successfully reviewed and approved by our Membership department. The profile has been forwaded to the Board of Directors for final vetting.</p>
<p> We will inform you when the vetting process is complete.
</p>
<p>If you have not sent in your recordings yet, kindly send them in <b>mp3</b> format to membership@kamp.or.ke.</p>
<p>
    Thank you!
</p><p>

    --KAMP Team
</p><p>
    {# Makes an absolute URL to the loko/images/PRISK_Logo_v_2.2_website.png file #}
    <img src="{{ absolute_url(asset('loko/images/PRISK_Logo_v_2.2_website.png')) }}">
<hr/>
Note: This is a system generated mail. Please do NOT reply to it.
</p>