<h3>Update Successful!</h3>
<p>
Dear {{ name }}!
</p><p>Thank you for updating your profile on the KAMP Online Portal.
</p>
<p>
You have successfully updated your Profile and it has been submitted for review. A member of our team will reach out to you to guide you through the next phase.
  </p>


<p>  In the meantime, to complete your profile, kindly send your recordings in <b>mp3</b> format to membership@kamp.or.ke.
</p>
<p>
Thank you!
</p><p>
--kamp Team
</p><p>
{# Makes an absolute URL to the loko/images/PRISK_Logo_v_2.2_website.png file #}
<img src="{{ absolute_url(asset('loko/images/PRISK_Logo_v_2.2_website.png')) }}">
</p>