<h3>Update Successful!</h3>
<p>
    Dear {{ name }}!
</p><p>Thank you for updating your profile on the PRISK Online Portal and.
</p>
<p>
    Kindly note that your profile will not be reviewed until you complete payment.
</p>
<p><a href="http://id.crysoftlabs.com/profile/{{ code }}/pay">Click Here</a> to complete your payment.</p>

<p>  In the meantime, to complete your profile, kindly send your recordings in <b>mp3</b> format to info@prisk.or.ke.
</p>
<p>
    Thank you!
</p><p>
    --KAMP Team
</p><p>
    {# Makes an absolute URL to the loko/images/PRISK_Logo_v_2.2_website.png file #}
    <img src="{{ absolute_url(asset('loko/images/PRISK_Logo_v_2.2_website.png')) }}">
</p>