{% extends 'base.htm.twig' %}
{% block title %}
    Get Started
{% endblock %}

{% block body %}
<div>
    <h2>Get Started</h2>
    <p>To get started, select a Membership type:</p>
    <a href="{{ path('onboard-individual') }}" style="margin-bottom:10px;background-color: #e22532;color: #fff;text-align: left" class="btn bg-teal-400 btn-labeled btn-labeled-left ml-6" formnovalidate><b><i
                    class="fa fa-plus-circle"></i></b> Individual Membership
    </a>
    <a href="{{ path('onboard-corporate') }}" style="background-color: #e22532;color:#fff;text-align: left" class="btn bg-teal-400 btn-labeled btn-labeled-left ml-6" formnovalidate><b><i
                    class="fa fa-plus-circle"></i></b> Corporate Membership
    </a>
</div>
{% endblock %}


