<ul style="margin-right: 30px" class="nav navbar-nav pull-right">
    <li class="nav-item dropdown pos-stc-xs">
        <!-- <a class="nav-link" href data-toggle="dropdown">
             <i class="material-icons">&#xe7f5;</i>
             <span class="label label-sm up warn">3</span>
         </a> -->

    </li>
    <li class="nav-item dropdown">
        <a class="nav-link clear" href="{{ path('user_logout') }}" data-toggle="dropdown">

            <i class="fa fa-sign-out"></i>
        </a>

    </li>
    <li class="nav-item hidden-md-up">
        <a class="nav-link" data-toggle="collapse" data-target="#collapse">
            <i class="material-icons">&#xe5d4;</i>
        </a>
    </li>
</ul>
<!-- ############ PAGE START-->
<div class="p-a white lt box-shadow">
    <div class="row">
        <div class="col-sm-6">
            <h4 class="m-b-0 _300">Welcome to zzPRISK PORTAL Administration</h4>
            <small class="text-muted">Centralized <strong>Member</strong> Management Portal</small>
        </div>

    </div>

</div>