<div class="uploaded">
    <ul>
        <ul style="list-style: none">

            <li>
                <input type="checkbox" disabled id="passport" value="">1. A Coloured Passport Size photograph
            </li>
            <li>&nbsp;</li>
            <li><input type="checkbox" disabled id="idcopy" value="">2. Valid National Identity Card, Passport or Birth
                Certificate
            </li>
            <li>&nbsp;</li>
            <li><input type="checkbox" disabled id="kra" value="">3. Kenya Revenue Authority ITAX Pin Certificate.</li>
            <li>&nbsp;</li>
            <li><input type="checkbox" disabled id="nextofkin" value="">4. Valid National Identity Card, Passport or
                Birth Certificate of Next of Kin.
            </li>
            {% if app.user.userType=="Deceased Producer" %}
                <li>&nbsp;</li>
                <li><input type="checkbox" disabled id="administration" value="">5. Letters of Administration.</li>
                <li>&nbsp;</li>
                <li><input type="checkbox" disabled id="deathcertificate" value="">6. Death Certificate.</li>
            {% endif %}
        </ul>
    </ul>

    {% if profile.profileDocuments | length > 0 %}
        <p>You have already submitted the following documents</p>
        <ol>
            {% for profileDocument in profile.profileDocuments %}
                {% if profileDocument.documentName == 'PASSPORT-PHOTO' %}
                <script type="text/javascript">
                    document.getElementById("passport").checked = true;
                </script>
                <li><b><i>Coloured Passport Size photograph</i></b></li>
                {% elseif profileDocument.documentName == 'NATIONAL-ID-COPY' %}
                <script type="text/javascript">
                    document.getElementById("idcopy").checked = true;
                </script>
                <li><b><i>Valid National Identity Card, Passport or Birth Certificate</i></b></li>

                {% elseif profileDocument.documentName == 'KRA-CERTIFICATE' %}
                <script type="text/javascript">
                    document.getElementById("kra").checked = true;
                </script>
                <li><b><i>Kenya Revenue Authority ITAX Pin Certificate</i></b></li>

                {% elseif profileDocument.documentName == 'NEXT-OF-KIN-CERTIFICATE' %}
                <script type="text/javascript">
                    document.getElementById("nextofkin").checked = true;
                </script>
                <li><b><i>Valid National Identity Card, Passport or Birth Certificate of Next of Kin.</i></b></li>


                {% endif %}
                {% if app.user.userType=="Deceased Producer" %}
                {% if profileDocument.documentName == 'ADMINISTRATION-LETTER' %}
                <script type="text/javascript">
                    document.getElementById("administration").checked = true;
                </script>
                <li><b><i>Letters of Administration.</i></b></li>
                {% elseif profileDocument.documentName == 'DEATH-CERTIFICATE' %}
                <script type="text/javascript">
                    document.getElementById("deathcertificate").checked = true;
                </script>
                <li><b><i>Death Certificate.</i></b></li>
                {% endif %}
                {% endif %}

            {% endfor %}
        </ol>
    {% else %}

    {% endif %}
    {% if profile.profileDocuments | length > 0 %}
        {% if app.user.userType =="Deceased Producer" %}
            {% if profile.profileDocuments | length < 6 %}
                <fieldset>
                    <legend>Section B: Document Upload</legend>
                </fieldset>
                <p>Use the form below to upload the remaining documents one at a time.</p>
            {% endif %}
        {% else %}
            {% if profile.profileDocuments | length < 4 %}
                <fieldset>
                    <legend>Section B: Document Upload</legend>
                </fieldset>
                <p>Use the form below to upload the remaining documents one at a time.</p>
            {% endif %}
        {% endif %}
    {% endif %}
</div>