
{{ form_start(form,{'attr': {'id': 'newForm' }}) }}
<fieldset>
    <legend>Section B: Payment</legend>
</fieldset>
<p>Use the form below to confirm your Payment.</p>

<fieldset>

</fieldset>
<br/>
<div class="form-group row right">
    <div class="col-sm-6" style="">
        <button id="new" type="submit" class="btn btn-primary btn-lg">Confirm Payment</button>
    </div>
</div>
</div>
{{ form_end(form) }}

