<div id="sp-menu" class="col-sm-7 col-md-7">
    <div class="sp-column ">
        <div class='sp-megamenu-wrapper'>
            <a id="offcanvas-toggler" class="visible-xs visible-sm" href="#"><i class="fa fa-bars"></i></a>
            <ul class="sp-megamenu-parent menu-fade-up hidden-xs hidden-sm">
                <li class="sp-menu-item"><a href="http://creative-junk.com/priskportal/web/">Home</a></li>
                <li class="sp-menu-item sp-has-child"><a href="http://prisk.or.ke/index.php/en/about-prisk">About PRISK</a>

                    <div class="sp-dropdown sp-dropdown-main sp-menu-right" style="width: 240px;">
                        <div class="sp-dropdown-inner">
                            <ul class="sp-dropdown-items">
                                <li class="sp-menu-item"><a href="http://prisk.or.ke/index.php/en/about-prisk/about-prisk">About
                                        PRISK</a></li>
                                <li class="sp-menu-item"><a href="http://prisk.or.ke/index.php/en/about-prisk/board">Board of
                                        Directors</a></li>
                                <li class="sp-menu-item"><a href="http://prisk.or.ke/index.php/en/about-prisk/staffs">Staff </a>
                                </li>
                                <li class="sp-menu-item"><a href="http://prisk.or.ke/index.php/en/about-prisk/organization">Organization</a>
                                </li>
                                <li class="sp-menu-item sp-has-child"><a
                                            href="http://prisk.or.ke/index.php/en/about-prisk/corporate-resources">Corporate
                                        Resources</a>

                                    <div class="sp-dropdown sp-dropdown-sub sp-menu-right"
                                         style="width: 240px;">
                                        <div class="sp-dropdown-inner">
                                            <ul class="sp-dropdown-items">
                                                <li class="sp-menu-item"><a
                                                            href="http://prisk.or.ke/index.php/en/about-prisk/corporate-resources/annual-reports-and-accounts">Annual
                                                        Reports and Accounts</a></li>
                                                <li class="sp-menu-item"><a
                                                            href="http://prisk.or.ke/index.php/en/about-prisk/corporate-resources/distribution-rules">Distribution
                                                        Rules</a></li>
                                                <li class="sp-menu-item"><a
                                                            href="http://prisk.or.ke/index.php/en/about-prisk/corporate-resources/music-policy">Music
                                                        Policy</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="sp-menu-item sp-has-child"><a
                                            href="http://prisk.or.ke/index.php/en/about-prisk/media-center">Media Center</a>

                                    <div class="sp-dropdown sp-dropdown-sub sp-menu-right"
                                         style="width: 240px;">
                                        <div class="sp-dropdown-inner">
                                            <ul class="sp-dropdown-items">
                                                <li class="sp-menu-item sp-has-child"><a
                                                            href="http://prisk.or.ke/index.php/en/about-prisk/media-center/blog">Blogs</a>

                                                    <div class="sp-dropdown sp-dropdown-sub sp-menu-right"
                                                         style="width: 240px;">
                                                        <div class="sp-dropdown-inner">
                                                            <ul class="sp-dropdown-items">
                                                                <li class="sp-menu-item"><a
                                                                            href="http://prisk.or.ke/index.php/en/about-prisk/media-center/blog/word-from-the-ceo">Word
                                                                        from the CEO</a></li>
                                                                <li class="sp-menu-item"><a
                                                                            href="http://prisk.or.ke/index.php/en/about-prisk/media-center/blog/pay-for-play">Pay
                                                                        for Play</a></li>
                                                                <li class="sp-menu-item"><a
                                                                            href="http://prisk.or.ke/index.php/en/about-prisk/media-center/blog/the-bench">The
                                                                        Bench</a></li>
                                                                <li class="sp-menu-item"><a
                                                                            href="http://prisk.or.ke/index.php/en/about-prisk/media-center/blog/rights-royalties">Rights
                                                                        &amp; Royalties</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="sp-menu-item"><a
                                                            href="http://prisk.or.ke/index.php/en/about-prisk/media-center/news">News </a>
                                                </li>
                                                <li class="sp-menu-item"><a
                                                            href="http://prisk.or.ke/index.php/en/about-prisk/media-center/events">Events</a>
                                                </li>
                                                <li class="sp-menu-item"><a
                                                            href="http://prisk.or.ke/index.php/en/about-prisk/media-center/gallery">Gallery</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="sp-menu-item"><a href="http://prisk.or.ke/index.php/en/about-prisk/careers">Careers</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="sp-menu-item sp-has-child active"><a href="http://prisk.or.ke/index.php/en/membership">Membership</a>

                    <div class="sp-dropdown sp-dropdown-main sp-dropdown-mega sp-menu-center"
                         style="width: 800px;left: -400px;">
                        <div class="sp-dropdown-inner">
                            <div class="row">
                                <div class="col-sm-4">
                                    <ul class="sp-mega-group">
                                        <li class="sp-menu-item sp-has-child active"><a
                                                    class="sp-group-title" href="http://prisk.or.ke/index.php/en/already-a-member">Already
                                                a Member?</a>
                                            <ul class="sp-mega-group-child sp-dropdown-items">
                                                <li class="sp-menu-item"><a href="{{ path('login') }}">Login</a></li>
                                                <li class="sp-menu-item current-item active"><a
                                                            href="{{path('home') }}">Create an
                                                        Online Account</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul class="sp-mega-group">
                                        <li class="sp-menu-item sp-has-child"><a class="sp-group-title"
                                                                                 href="http://prisk.or.ke/index.php/en/thinking-about-joining">Thinking
                                                about joining?</a>
                                            <ul class="sp-mega-group-child sp-dropdown-items">
                                                <li class="sp-menu-item"><a
                                                            href="http://prisk.or.ke/index.php/en/thinking-about-joining/why-join-prisk">Why
                                                        Join Prisk</a></li>
                                                <li class="sp-menu-item"><a
                                                            href="http://prisk.or.ke/index.php/en/thinking-about-joining/how-to-join">How
                                                        to Join</a></li>
                                                <li class="sp-menu-item"><a
                                                            href="http://prisk.or.ke/index.php/en/thinking-about-joining/faq">FAQ</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul class="sp-mega-group">
                                        <li class="sp-menu-item sp-has-child"><a class="sp-group-title"
                                                                                 href="http://prisk.or.ke/index.php/en/how-prisk-works">How
                                                PRISK works?</a>
                                            <ul class="sp-mega-group-child sp-dropdown-items">
                                                <li class="sp-menu-item"><a
                                                            href="http://prisk.or.ke/index.php/en/how-prisk-works/royalty-payments">Royalty
                                                        Payments</a></li>
                                                <li class="sp-menu-item"><a
                                                            href="http://prisk.or.ke/index.php/en/how-prisk-works/insurance">Insurance</a>
                                                </li>
                                                <li class="sp-menu-item"><a
                                                            href="http://prisk.or.ke/index.php/en/how-prisk-works/distribution-rules">Distribution
                                                        Rules</a></li>
                                                <li class="sp-menu-item"><a
                                                            href="http://prisk.or.ke/index.php/en/how-prisk-works/distribution-faq">Distribution
                                                        FAQ</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="sp-menu-item sp-has-child"><a href="http://prisk.or.ke/index.php/en/user">Licensing</a>

                    <div class="sp-dropdown sp-dropdown-main sp-menu-center"
                         style="width: 240px;left: -120px;">
                        <div class="sp-dropdown-inner">
                            <ul class="sp-dropdown-items">
                                <li class="sp-menu-item"><a href="http://prisk.or.ke/index.php/en/user/how-do-i-get-a-license">How
                                        Do I get a License?</a></li>
                                <li class="sp-menu-item"><a
                                            href="http://prisk.or.ke/index.php/en/user/how-much-does-a-license-cost">How much does
                                        a License Cost?</a></li>
                                <li class="sp-menu-item"><a href="http://prisk.or.ke/index.php/en/user/regional-offices">Regional
                                        Offices</a></li>
                                <li class="sp-menu-item"><a href="http://prisk.or.ke/index.php/en/user/faq">FAQ </a></li>
                                <li class="sp-menu-item"><a href="http://prisk.or.ke/index.php/en/user/download">Download</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="sp-menu-item"><a href="http://prisk.or.ke/index.php/en/contact">Contact Us</a></li>
            </ul>
        </div>
    </div>
</div>