{% extends 'base.htm.twig' %}

{% block body %}
    <div id="sp-page-builder" class="sp-page-builder  page-1">

        <div class="page-content">
            <section class="sppb-section welcome-wrapper" style="padding:0px">
                <div class="sppb-container">
                    <div class="sppb-row">
                        <div class="sppb-col-sm-6" style=";min-width:340px;">
                            <div class="sppb-addon-container sppb-wow zoomIn sppb-animated"
                                 style="visibility: visible; animation-duration: 800ms; animation-delay: 300ms; animation-name: zoomIn;"
                                 data-sppb-wow-duration="800ms" data-sppb-wow-delay="300ms">
                                <div class="sppb-addon sppb-addon-text-block sppb-text-left "><h6
                                            class="sppb-addon-title" style="font-size:14px;line-height:14px;">Step 1 Complete.</h6>

                                    <div class="sppb-addon-content"> <p>Thank you for completing the first step of our registering process.
                                            <br/>You can now access your account <a style="color: #e22532" href="{{ path('profile-login') }}">here</a> to proceed to the next step and complete your Profile.</p>
                                        <p>We have also emailed this link to you. You can login at a later time and complete your Registration.</p>
                                        <p>--Thank you</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock body %}