<style>
    h1{
        font-size:20px;

    }
    h2,h3{
        font-size:16px;
    }
</style>
<h1>AGREEMENT BETWEEN KAMP AND THE MEMBER.
</h1><p>
    The applicant agrees to the following terms and conditions as provided here below:
</p>
<h2>1. DEFINITIONS AND INTERPRETATIONS.
</h2><p>
    1.1 In this agreement the following words or phrases have the following meanings:-
    CMO”“means Collective Management Organisa
    tion “copy” shall bear the meaning ascribed to it in the Copyright Act 2001 of Laws of Kenya to include reproduction
    of work in any manner or form and includes any sound or visual recording of a work and any permanent or transient
    storage of a work in any medium, by computer technology or any other electronic means.
</p><p>
    Means the Copyright Act of Laws of Kenya and any relevant statutory modifications or re-enactment thereof for the
    time being in force.
</p><p>
    Infring“ement” bears the meaning ascribed to it in
    the Copyright Act 2001 Laws of Kenya to include any act which violates the right protected by the said Act.
</p><p>
    KAMP“” means Kenya Association of Music
    Producers.
</p><p>
    KAMP“Documents” means the current version of
    the memorandum and Articles of Association of KAMP, any by-laws, distribution rules, Codes of Conduct, Rules and
    Regulations and other relevant manuals, policies and procedures from time to time generated and in force by which
    the applicant agrees to be bound.
</p><p>
    Membe“r” means applicant who has successfully completed and met the requirements for KAMP membership.
</p><p>
    Produc“er of Sound Recordings” shall mean the
    person or entity who has made all the financial and other arrangements necessary for the first fixation of the Sound
    Recording.
</p><p>
    Right H“ older” means both member and
    non-member producers whose Sound Recordings Rights shall be administered by KAMP in accordance with the relevant
    Sections of the Copyright Act 2001 Laws of Kenya.
</p><p>
    Sound “Recording” Shall bear the meaning
    ascribed to it in the Act and any amendments thereof from time to time.
</p><p>
    Sound “Recordings Rights” In this Agreement means the rights of the owners of Sound Recordings captured in Section
    28 and 30A of the Copyright Act of 2001, Laws of Kenya.
</p>
<h2>2. OBLIGATIONS OF APPLICANTS.
</h2><p>
    The Applicant Shall:
</p><p>
    I. Declare KAMP, in writing and a manner prescribed by KAMP, all Sound Recordings over which it currently holds the
    Rights assigned, granted or otherwise transferred hereunder.
</p><p>
    II. Provide KAMP, upon request, at least one (1) copy of each Sound Recording effected. KAMP shall not be liable for
    any loss or damage suffered by the Applicant should it fail to comply with the provision or be bound to make any
    payment whatsoever respecting any sound recording that has been declared.
</p><p>
    III. Provide KAMP with accurate data in respect of the Sound Recordings, Contact Information, Next of Kin
    Information, Payment details and any changes related to the same in writing.
</p><p>
    IV. Sign any document and take any action useful or necessary to confirm, give effect or to enforce the Sound
    Recordings or to enable it to exercise any right or obligation by KAMP hereunder.
</p><p>
    V. Refrain doing anything whatsoever that would violate the rights or interests of KAMP and shall endeavor to
    cooperate with KAMP, its representa tives and other members for the purposes of contributing to the progress of
    KAMP. “Territory” Means in the first instance the Republic of Kenya and is also extended to
    include the world.
</p><p>
    1.2 Unless the context otherwise requires, words denoting the singular shall include the plural and vise versa and
    words denoting persons shall include bodies corporate, unincorporated associations and partnerships.
</p><p>
    1.3 Where expressions used in this Agreement are expressions used in Copyright Act of 2001 of Kenya, they shall have
    the same meaning as in the said Act unless the context otherwise requires.
</p><p>
    1.4 In this Agreement references to the word
    “including” do not imply any limitation.
</p><h2>
    3. ADMINISTRATION OF SOUND RECORDING RIGHTS.
</h2><p>
    3.1 KAMP has the legal mandate to administer the following rights on behalf of the member and in accordance with the
    relevant Company resolutions applicable statutes international treaties and/ or agreements currently in force
    amended from time to time:-
</p>
<h2>2.2 KAMP DIGITAL RIGHTS AGREEMENT
</h2><h4>Digital Transactions involving Sound Recordings</h4>
<p>
    It is hereby agreed that KAMP shall administer on behalf of the Member and/ or Music Producer owning rights in Sound
    Record- ings in accordance with the relevant Company decisions, applicable statutes, international treaties and / or
    agreements currently
    in force or duly amended from time to time the right to remuneration relating to authorizing, negotiating a rate and
    collecting for digital transactions including but not limited to:</p><p>
    i) Online transactions, Cable transmissions; and</p><p>
    ii) Making available / Communicating to the public by means of electronic media, the internet, in interactive
    platforms;<br/>
    such as use of Sound Recordings by content aggregators , PRSPs, in electronic multimedia products, telecommunication
    services including ringtones, CRBTs, downloads, streams and any other performance or digital reproduction of the
    Sound Recording(s)
</p>
<h2>
    4. AUTHORIZATION FROM MEMBER.
</h2><p>
    The member by way of this Agreement hereby authorizes KAMP to;
</p><p>
    (i) *Develop tariffs for the use and exploitation of the Sound Recording.
</p><p>
    (ii) *Negotiate with users involved in all the exploitations and uses covered by this Agreement and all legislation.
</p><p>(iii) *Conclude agreements on behalf of member/rightholder on payment of licenses fees related to said
    exploitations. (iv) *Receive remuneration and payments of the license fees and retain amounts necesasry to cover the
    operations and
    administrative costs of KAMP.
</p><p>
    (v) *Develop distribution rules that will govern the manner in which the accumulated amounts shall be paid out to
    the various Rights Holders and members for monies collected within the territory.
</p><p>
    (vi) * Make royalty to the Member in accordance with the distribution rules.
</p>
<p>

    I. Collection of remuneration from communication to the public including the right to making available, public
    performance of any Sound Recording within the Territory;
</p><p>
    II. Collection of remuneration from broadcasting by any means; and existing and emerging platforms.
</p><p>
    III. Collection of remuneration relating to blank media levy/private copy remuneration fees.
</p><h2>
    5 DISTRIBUTION OF ROYALTIES.
</h2><p>
    In accordance with its Memorandum and Articles of Association and Distribution Rules and amended from time to time,
    KAMP shall remit to its Rights Holders and members or to any other legal or natural person dully designated in
    writing, any royalties from license fees that KAMP has collected.
</p><h2>
    5.1 INFRINGEMENT.
</h2><p>
    KAMP shall respond to, prosecute and defend any and all accrued causes of action wherever and whenever accrued in
    respect of any infringements of the Sound Recording Rights in any such Sound Recording insofar as the same are now
    or subsequently vested in the Rights Holder and/ or member and exercise the right to bring proceedings in respect of
    such infringements in the name of KAMP where the same are within the scope of this Agreement.
</p><h2>

    5.2 RECIPROCAL AGREEMENTS.
</h2><p>
    KAMP will engage with sister societies around the World also involved in the collective administration of Sound
    Recording Rights and shall when the Board of Directors and Company
    deems appropriate conclude reciprocal agreements which shall delegate, license, further grant the rights granted in
    this Agreement to the said societies and to entrust the controlled management of all or part of such Sound recording
    rights within all or part of the Territory contemplated here in.

</p><h2>

    6. RESTRICTION.
</h2><p>
    KAMP shall not administer any use of Sound Recording
    that are expressly reserved or excluded by the applicant. These Sound Recordings and uses to be excluded should be
    communicated in writing to KAMP within one (1) month of the receipt of the application for membership.
</p><h2>
    7. DECLARATION.
</h2><p>
    The Applicant declares as follows:-
</p><p>
    I/We have the right, power and authority to enter into this Agreement with full title guarantee, and I/We have
    obtained all necessary consents (if any) so as to permit KAMP freely to ADMINISTER THE RIGHTS IN THE Sound
    Recordings for THE ENTIRE PERIOD THAT Copyright(including all extensions and renewals thereof) submitted to KAMP.
</p><h2>
    8. INDEMNITY.
</h2><p>
    The applicant shall hereafter indemnify KAMP and hold KAMP, ITS DIRECTORS,EMPLOYEES,AGENTS AND ASSOCIATES harmless
    from and against any and all losses, demands, claims FOR COMPENSATIO, INFRINGEMENT, damages, costs, expenses
    (including reasonable legal costs and expenses and VAT thereon) and liabilities suffered or incurred by KAMP in
    consequence of any breach by the MEMBER.
</p><h2>
    9. COMMENCEMENT.
</h2><p>
    This Agreement shall take effect UPON EXECUTION BY BOTH PARTIES.
</p><h2>
    10. ENTIRE AGREEMENT.
</h2><p>
    This Agreement should constitute the entire and sole agreement entered into between the Member and KAMP respecting
    its subject matter, and shall supersede any prior agreement respecting said matter.
</p><h2>
    11. JURISDICTION.
</h2><p>
    This Agreement SHALL only be amended in writing AND SIGNED BY BOTH PARTIES.
</p><p>
    All rights and obligations hereunder shall be construed and interpreted in accordance with the Laws of Kenya, the
    Courts of which shall have the exclusive jurisdiction in all matters concerning the same.
</p>


