<div id="sp-left" class="col-sm-3 col-md-3">
    <div class="sp-column ">

        <div class="sp-module">
            <div class="sp-module-content">

                <div class="custom">
                    <div id="pfmRightPanel-FullWidthMainStandard" class="pfmRightPanel">
                        <div class="contentArea">
                            <div id="ctl00_PlaceHolderMainRight_ctl02__ControlWrapper_RichHtmlField"
                                 style="display: inline;">
                                <div class="panel panel-default"><a target="_blank"
                                            href="http://prisk.org/index.php/en/about-prisk/media-center/blog/the-bench"><img
                                                style="width: 320px;"
                                                src="{{ asset('loko/images/rights.jpg') }}"
                                                alt="The Bench"/></a>

                                    <div class="panel-body">
                                        <h4>Rights &amp; Royalties</h4>

                                        <p>Find out more about Royalties.</p>
                                        <a class="btn btn-default" target="_blank"
                                           href="http://prisk.org/index.php/en/about-prisk/media-center/blog/rights-royalties"
                                           type="button">Find out more</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>