<div id="sp-left" class="col-sm-3 col-md-3">
    <div class="sp-column ">
        <div class="sp-module">
            <div class="sp-module-content">
                <div id="je_accord460" class="je_acc ">

                    <ul>
                        <li class="item-995 alias-parent-active has-sub parent"><a
                                    href="http://prisk.org/index.php/en/already-a-member">Already a Member?</a>
                            <ul>
                                <li class="item-996"><a
                                            href="{{ path('login') }}">Login</a></li>
                                <li class="item-997 active"><a href="{{ path('home') }}">Create an
                                        Online Account </a></li>
                            </ul>
                        </li>
                        <li class="item-1035 has-sub parent"><a href="http://prisk.org/index.php/en/thinking-about-joining">Thinking
                                about joining?</a>
                            <ul>
                                <li class="item-999"><a href="http://prisk.org/index.php/en/thinking-about-joining/why-join-prisk">Why
                                        Join Prisk</a></li>
                                <li class="item-1001"><a href="http://prisk.org/index.php/en/thinking-about-joining/how-to-join">How
                                        to Join</a></li>
                                <li class="item-1000"><a href="http://prisk.org/index.php/en/thinking-about-joining/faq">FAQ</a>
                                </li>
                            </ul>
                        </li>
                        <li class="item-1002 has-sub parent"><a href="http://prisk.org/index.php/en/how-prisk-works">How PRISK
                                works?</a>
                            <ul>
                                <li class="item-1003"><a href="http://prisk.org/index.php/en/how-prisk-works/royalty-payments">Royalty
                                        Payments</a></li>
                                <li class="item-1004"><a
                                            href="http://prisk.org/index.php/en/how-prisk-works/insurance">Insurance</a></li>
                                <li class="item-1006"><a href="http://prisk.org/index.php/en/how-prisk-works/distribution-faq">Distribution
                                        FAQ</a></li>
                                <li class="item-1007"><a href="#">Download</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <script type="text/javascript">
                    var el = document.getElementById('jExt460');
                    if (el) {
                        el.style.display += el.style.display = 'none';
                    }
                </script>
            </div>
        </div>
        <div class="sp-module">
            <div class="sp-module-content">

                <div class="custom">
                    <div id="pfmRightPanel-FullWidthMainStandard" class="pfmRightPanel">
                        <div class="contentArea">
                            <div id="ctl00_PlaceHolderMainRight_ctl02__ControlWrapper_RichHtmlField"
                                 style="display: inline;">
                                <div class="panel panel-default"><a
                                            href="http://prisk.org/index.php/en/about-prisk/media-center/blog/the-bench"><img
                                                style="width: 320px;"
                                                src="{{ asset('loko/images/rights.jpg') }}"
                                                alt="The Bench"/></a>

                                    <div class="panel-body">
                                        <h4>Rights &amp; Royalties</h4>

                                        <p>Find out more about Royalties.</p>
                                        <a class="btn btn-default"
                                           href="http://prisk.org/index.php/en/about-prisk/media-center/blog/rights-royalties"
                                           type="button">Find out more</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>